html {
  background-image: linear-gradient(#5E8106, #EFA601, #E84795);
  height: 100%;
  width: 100%;
}
main{
  display: flex;
  justify-content: space-between;
}

body {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 10%;
}

.card {
  position: absolute;
  border-radius: 8px;
  height: 50%;
  width: 20%;
}

.game__player-1{
  left: 4%;
  box-shadow: 0 0 30px red;
}

.game__player-2 {
  right: 4%;
  box-shadow: 0 0 30px cyan;
}

.game__card-stack {
  flex-direction: column;
  align-items: center;
  left: 42%;
}

.new-card {
  position: absolute;
  border-radius: 8px;
  height: 100%;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.wins__player-1 {
position: absolute;
bottom: 18%;
left: 12%;
font-size: 30px;
}

.wins__player-2 {
position: absolute;
bottom: 18%;
right: 12%;
font-size: 30px;
}

.message {
color: white;
justify-content: center;
margin-top: -20%;
margin-bottom: 10%;
opacity: 0.5;
}
